* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(167, 48, 241);
}
.container {
    width: 420px;
    display: flex;
    flex-direction: column;
    padding: 50px 0;
    background-color: aliceblue;
    align-items: center;
    border-radius: 10px;
}
.circular-progress {
    // position: relative;
    height: 250px;
    width: 250px;
    margin: 20px;
    background-image: conic-gradient(rgb(101, 48, 157) 3.6deg, rgb(218, 218, 213) 1deg);
    border-radius: 50%;
    // border: 2px solid red;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box {
    background-color: rgb(252, 250, 252);
    //   border: 2px solid black;
    height: 200px;
    width: 200px;
    //   margin:auto;
    border-radius: 50%;
    //   position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}
.progress-value {
    // position: relative;
    font-size: 3rem;
    font-weight: 600;
    color: rgb(112, 18, 184);
}
.text {
    font-size: 1.5rem;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    color: rgb(99, 99, 99);
}
